<ul class="space-x-6 flex items-center text-sm">
  {% if template.name == '404' %}
    <li
      class="
        list-none
        py-2
        font-medium
        text-gray-500
        hover:text-gray-700
        uppercase
        tracking-wider
      "
    >
      <a href="javascript:history.back()">Back</a>
    </li>
  {% elsif section.settings.menu.links %}
    {% for link in section.settings.menu.links %} 
      {% if link.links != blank %}
        <li
          class="relative group transition-all cursor-pointer list-none h-full flex"
        >
          <span
            class="
              flex
              items-center
              font-medium
              text-gray-500
              group-hover:text-gray-700
              tracking-wider
            "
          >
            {{ link.title | upcase }}
          </span>
          <span class="hidden absolute group-hover:nested-animation">
            <ul
              class="
                flex flex-col
                absolute
                border border-gray-300
                px-6
                py-2
                bg-white
                min-w-max
                relative
              "
            >
              <!-- <span class="absolute left-2 top-1">{% render 'caret-icon' %}</span> -->
              {% for childLink in link.links %}
              <li
                class="
                  px-2
                  py-1
                  border border-transparent
                  rounded-sm
                  list-none
                  text-gray-500
                  hover:text-gray-700 hover:bg-gray-300
                  transition-all
                  tracking-wide
                "
              >
                <a href="{{ childLink.url }}">{{ childLink.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </span>
        </li>
        {% else %}
        <li
          class="
            list-none
            py-2
            font-medium
            text-gray-500
            hover:text-gray-700
            tracking-wider
          "
        >
          <a href="{{ link.url }}">{{ link.title | upcase }}</a>
        </li>
      {% endif %} 
    {% endfor %}
  {% else %}
    <li
    class="
      list-none
      py-2
      font-medium
      text-gray-500
      hover:text-gray-700
      uppercase
      tracking-wider
    "
    >
      <a href="javascript:history.back()">Back</a>
    </li>
  {% endif %}
</ul>
